.products {
  width: 90%;
  margin: 0 auto;
  height: auto;
  margin-bottom: 10rem;
}
.products-top {
  position: relative;
}
.products h2 {
  font-size: 9rem;
  font-family: syne;
  font-weight: var(--font-semi-bold);
}
/* .horizontal-line {
  position: absolute;
} */
.slider-arrows {
  position: absolute;
  right: 0;
  bottom: 20px;
  cursor: pointer;
}
.slider-arrows img {
  margin-left: 3rem;
}
.products-bottom {
  display: flex;
  gap: 3rem;
}
.category-sidebar {
  font-family: 'work sans';
  font-size: 1.8rem;
}
.category-sidebar ul li {
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.active {
  font-weight: 600;
  font-size: 2.6rem;
  font-family: syne;
}
.products-carousel {
  display: flex;
  gap: 2rem;
}
